<header id="fh5co-header-section" role="header" class="" >
  <div class="container">

    <!-- <div id="fh5co-menu-logo"> -->
    <!-- START #fh5co-logo -->
    <h1 id="fh5co-logo" class="pull-left"><a href="index.html"><img src="/publics/img/logo.png" alt="Valet Free HTML5 Template"></a></h1>

    <!-- START #fh5co-menu-wrap -->
    <nav id="fh5co-menu-wrap" role="navigation">


      <ul class="sf-menu" id="fh5co-primary-menu">
        <li class="active">
          <a href="index.html">Home</a>
        </li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <!-- </div> -->

  </div>
</header>